/**/bin/*
/**/data/*
/**/script/*.exe
!/**/bin/.gitignore
!/**/data/.gitignore
!/Mods/data/modinfo.cfg
!/Patch/data/modstool.exe
!/Patch/data/remove_junk.cmd
!/Patch/data/restore_junk.cmd
/install3.nsi